In [20]:
import pandas as pd
import json
import requests
from datetime import datetime

In [29]:
def api_getpageview(article):
    '''
    Using GET method to get pageview data since 2020010100 (2020/1/1) to 2020123100 (2020/12/31)

    article: The article we are looking for
    category: Type of data get

    return: A csv contained information
    '''
    date=[]
    pageview=[]
    result={}
    article=article.replace(" ", "_")
    head={}
    head["user-agent"]="Googlebot/2.1 (+http://www.google.com/bot.html)"
    url="https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/all-agents/{0}/daily/2020010100/2020123100".format(article)
    response=requests.get(url, headers=head)
    js=response.json()['items']
    for i in js:
        pageview.append(int(i['views']))
        date.append(datetime.fromtimestamp(int(i['timestamp'])))
    result['date']=date
    result['pageview']=pageview
    result=pd.DataFrame(result)

    return result

In [2]:
article=pd.read_csv('test.csv')['Page title'].values

In [3]:
tryer=article[0]
tryer

'Charles, Prince of Wales'

In [4]:
tryer=tryer.replace(" ", "_")

In [5]:
tryer

'Charles,_Prince_of_Wales'

In [7]:
url="https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/all-agents/{0}/daily/2020010100/2020123100".format(tryer)

In [8]:
url

'https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/all-agents/Charles,_Prince_of_Wales/daily/2020010100/2020123100'

In [14]:
head={}
head["user-agent"]="Googlebot/2.1 (+http://www.google.com/bot.html)"

In [15]:
response=requests.get(url,headers=head)
response

In [21]:
response.json()['items'][0]['timestamp']

'2020010100'

In [30]:
result=api_getpageview(tryer)
result

                   date  pageview
0   2034-01-04 09:55:00     32880
1   2034-01-04 09:56:40     35996
2   2034-01-04 09:58:20     34880
3   2034-01-04 10:00:00     45372
4   2034-01-04 10:01:40     37711
..                  ...       ...
361 2034-01-05 17:11:40     70356
362 2034-01-05 17:13:20     66619
363 2034-01-05 17:15:00     64459
364 2034-01-05 17:16:40     60501
365 2034-01-05 17:18:20     51289

[366 rows x 2 columns]