# EDA Notebook

In [8]:
import os
import json
import gzip
import pandas as pd

## Data

Located in `/teams/DSC180A_FA20_A00/b01graphdataanalysis/personal-nhtsai/`.

Create symbolic links to the data source:
* `ln -s /teams/DSC180A_FA20_A00/b01graphdataanalysis/personal-nhtsai/meta_Books.json.gz`
* `ln -s /teams/DSC180A_FA20_A00/b01graphdataanalysis/personal-nhtsai/image_features_Books.b`

In [9]:
metadata_path = 'meta_Books.json.gz'
image_features_path = 'image_features_Books.b'

In [3]:
def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield eval(l)

def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')

In [4]:
meta_df = getDF(metadata_path)

In [10]:
meta_df.shape

(2370585, 9)

In [11]:
meta_df.dtypes

asin            object
salesRank       object
imUrl           object
categories      object
title           object
description     object
price          float64
related         object
brand           object
dtype: object

### Products with no graph relations

In [8]:
meta_df[meta_df['related'].isna()].shape # 2% of data

(750156, 9)

### Products with no image URLs

In [6]:
meta_df[meta_df['imUrl'].isna()].shape # 31% of data

(50867, 9)

In [42]:
meta_df.head(2).T

,0,1
asin,0001048791,0001048775
salesRank,{'Books': 6334800},{'Books': 13243226}
imUrl,http://ecx.images-amazon.com/images/I/51MKP0T4...,http://ecx.images-amazon.com/images/I/5166EBHD...
categories,[[Books]],[[Books]]
title,"The Crucible: Performed by Stuart Pankin, Jero...",Measure for Measure: Complete &amp; Unabridged
description,NaN,William Shakespeare is widely regarded as the ...
price,NaN,NaN
related,NaN,NaN
brand,NaN,NaN

In [38]:
meta_df[meta_df.related.isna() | meta_df.title.isna()].shape

(1100940, 9)

In [34]:
meta_df[meta_df.price.isna()].shape

(691175, 9)

In [39]:
1100940/2370585

0.46441701099095795

In [29]:
431818/2370585

0.1821567250277885

In [28]:
meta_df[meta_df.title.isna()].shape

(431818, 9)

In [ ]:
# total length of list, this number equals total number of products
print(len(data))

# first row of the list
print(data[0])